.main-container {
    background-image: url("/img/board-1920-1280.jpg");
    width: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0;
    padding: 1.3rem;
}

body {
    margin: 0;
    height: 100vh;
    text-align: center;
    font-family: Chalkduster, sans-serif;
    color: white;
    background-color: black;
}

.radio-input {
    margin: 0;
    padding: 1rem;
}

.next-button {
    font-family: Chalkduster, sans-serif;
    background-color: white;
    margin: 0;
}

.next-button:hover {
    background-color: #fdffa5;
}

.next-button:active {
    background-color: #b6d881;
}

footer {
    padding: 1rem;
    font-size: 0.6rem;
}

/* BREAKPOINT POUR ÉLÉMENTS DE LA PAGE */
@media screen and (max-width: 362px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    body {
        padding: 1rem;
    }

    .radio-input {
        font-size: 1rem;
    }

    .next-button {
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }

    .chalk-img {
        width: 100%;
        height: 17vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        object-fit: cover;
    }
}

@media screen and (min-width: 363px) and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    body {
        padding: 1.5rem;
    }

    .radio-input {
        font-size: 1.25rem;
    }

    .chalk-img {
        height: 17vh;
    }
}

@media screen and (min-width: 363px) {
    .next-button {
        padding: 0.3rem 1rem;
        font-size: 1.25rem;
    }

    .chalk-img {
        width: 80%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.125rem;
    }

    body {
        padding: 2rem;
    }

    .radio-input {
        font-size: 1.25rem;
    }

    .chalk-img {
        height: 35vh;
    }
}

/* PAGE DE JEU / BOARD */

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: auto;
    width: 90%;
    height: auto;
}

.box {
    border: white solid 4px;
    filter: blur(1px);
}

/*BREAKPOINTS POUR LE BOARD*/
@media screen and (max-width: 425px) {
    .board-container {
        width: 90%
    }

    .box {
        height: 15vh;
        font-size: 4rem;
    }
}

@media screen and (min-width: 426px) {
    .board-container {
        width: 70%
    }

    .box {
        height: 20vh;
        font-size: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .board-container {
        width: 50%
    }

    .box {
        height: 20vh;
        font-size: 7rem;
    }
}

/* ENLEVE LES LIGNES EXTERIEURES DU BOARD*/
#box0, #box1, #box2 {
    border-top: none;
}

#box6, #box7, #box8 {
    border-bottom: none;
}

#box0, #box3, #box6 {
    border-left: none;
}

#box2, #box5, #box8 {
    border-right: none;
}
