/* BREAKPOINT POUR ÉLÉMENTS DES PAGES  */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .chalk-img {
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        object-fit: cover;
        height: 30vh;
    }

    .radio-input, .text-switch, form {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .chalk-img {
        height: 35vh;
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        object-fit: cover;
    }
    .radio-input, .text-switch, form {
        font-size: 1.5rem;
    }
}

/*BREAKPOINTS POUR LE BOARD*/
@media screen and (max-width: 425px) {
    .board-container {
        width: 90%
    }

    .box {
        height: 15vh;
        font-size: 4rem;
    }
}

@media screen and (min-width: 426px) {
    .board-container {
        width: 70%
    }

    .box {
        height: 20vh;
        font-size: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .board-container {
        width: 50%
    }

    .box {
        height: 20vh;
        font-size: 7rem;
    }
}
