/***** ELEMENTS  COMMUNS A CERTAINES PAGES *****/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: Chalkduster, sans-serif;
    color: white;
    height: 100vh;
    background: black;
    background: linear-gradient(to right, #434343, #000000);

}

h1, h2 {
    margin: 0;
    padding: 1.5rem;
}

main {
    max-width: 1900px;
}

.chalk-img {
    filter: drop-shadow(0 0 0.75rem white);
}

.button-next-page {
    filter: drop-shadow(0 0 0.20rem #bae372);
    padding: 0.3rem 1rem;
    font-size: 1.25rem;
}

.button-previous-page {
    position: fixed;
    bottom: 1.75rem;
    right: 1.75rem;
}

#img-previous-page {
    width: 1.5rem;
    height: 1.5rem;
}

footer {
    padding: 1rem;
    font-size: 0.8rem;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/***** ELEMENTS PAGE ACCUEIL*****/

/*Boutons*/
.radio-input {
    margin: 0;
    padding: 1rem;
}

.button-next-page {
    font-family: Chalkduster, sans-serif;
    background-color: white;
    color: black ;
    margin-bottom: 1rem;
}

.button-next-page:hover, .button-previous-page:hover, .start-again:hover, .btn-menu:hover, #modal-rules:hover {
    background-color: #fdffa5;
}

.button-next-page:active, .button-previous-page:active, .start-again:active, .btn-menu:active, #modal-rules:active {
    background-color: #b6d881;
}


/***** ÉLÉMENTS PAGE VS ORDI *****/

/* Toogle  */
.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #f99865;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 15px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #bae372;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bae372;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.text-switch {
    padding: 2rem 2rem 2rem 1rem;
}
/* Fin toogle  */

/***** ÉLÉMENTS PAGE VS AMI A CÔTÉ *****/

/*Formulaire*/
form {
    padding: 1rem;
}

fieldset {
    border: none;
}

#name-x, #name-o, #choice-color-x, #choice-color-o {
    font-family: Chalkduster, sans-serif;
    padding: 0.5rem;
    margin: 0.5rem;
}

/*Barre de séparation horizontale*/
HR {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    height: 4px;
    color: white;
    background-color: white;
}

/***** ÉLÉMENTS PAGE DE JEU - BOARD *****/

/*Board*/
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: auto;
    width: 90%;
    height: auto;
}

.box {
    border: white solid 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box0, #box1, #box2 {
    border-top: none;
}

#box6, #box7, #box8 {
    border-bottom: none;
}

#box0, #box3, #box6 {
    border-left: none;
}

#box2, #box5, #box8 {
    border-right: none;
}

.win-animation {
    animation: win-animation 0.3s linear infinite both;
}

@keyframes win-animation {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

#animation{
    display: flex ;
    justify-content: center;
}

/*Fin board*/

/*Boutons*/
.btn-menu, .start-again ,#modal-rules{
    z-index: 2;
}

#img-start-again, #img-menu, #img-btn-question{
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    vertical-align: middle;
}

.container-btn{
    display: flex;
    justify-content: space-around;
}

